alembic==1.16.2
cryptography==45.0.4
email-validator==2.2.0
fastapi==0.115.14
httpx==0.28.1
bcrypt==5.0.0
pydantic-settings==2.10.1
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
SQLAlchemy==2.0.41
uvicorn[standard]==0.35.0
psycopg[binary]==3.2.9
psxdata
yfinance==0.2.54
beautifulsoup4==4.15.0
lxml==6.1.1
openpyxl==3.1.5
xlrd==2.0.2
